@font-face {
    font-family: "fuentePpal";
    src: url('./fuente/fuentePpal.ttf');
}

*{

   font-family: fuentePpal,sans-serif;
   font-size: 1.02em;
   font-weight:bold;

}

#alerta{
    font-size: 11pt;
    font-weight:lighter;
    font-family: inherit;
}

/*.fondo{
    background-image: linear-gradient(180deg, rgba(49, 49, 49, 0.391) 85%,
     rgba(37, 37, 37, 0) 100%);
}*/