@font-face {
    font-family: "fuentePpal";
    src: url('./fuente/fuentePpal.ttf');
}

*{

   font-family: fuentePpal,sans-serif;
   font-size: 1.02em;
   font-weight:bold;

}

.fondo{
    background-color: rgb(251, 251, 251);
}

.fondo:hover{
    background-color: rgb(228, 228, 228);
}

.carousel-item{
    min-height: 280px;
}

#alerta{
    font-size: 11pt;
    font-weight:lighter;
    font-family: inherit;
}

