<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Criterios SEO-->
    <title>Quiérete Mucho | Servicios</title>
    <meta name="description" content="Listado de servicios de la página web Quiérete Mucho.">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/css/background.css" th:href="@{/css/background.css}" >

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>

<!--Menú de navegación-->

<header th:replace="~{fragments/header::header}"></header>

<!--Fin Menú de navegación-->

<body class=" m-0 border-0 min-vh-100 d-flex flex-column">

    <div class="container-fluid" id="products">
		
		<h2 class="text-center mx-auto mt-2 pt-2">Éstos son nuestros servicios</h2>

        <form th:action="@{/home/services/search}" method="GET">
            <div class="input-group">
                <input class="form-control me-2" type="search" placeholder="Buscar por nombre o descripción" aria-label="Search"
                    name="search">
                <button class="btn btn-success" type="submit">Buscar</button>
            </div>
        </form>

        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="alert alert-danger alert-dismissible fade show col-12 col-md-6" role="alert">
                    ¡Vaya! Algo debe estar mal, no encontramos ningún producto así
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>

    </div>

</body>

<!--Footer-->

<footer th:replace="~{fragments/footer::footer}"></footer>

<!-- Footer -->

</html>