<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiérete Mucho | Reclamaciones</title>
    <meta name="description" content="Listado de reclamaciones personal para la web de Quiérete Mucho.">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/css/background.css" th:href="@{/css/background.css}" >

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


</head>

<!--Menú de navegación-->

<header th:replace="~{fragments/header::header}"></header>

<!--Fin Menú de navegación-->

<body class=" m-0 border-0 min-vh-100 d-flex flex-column">

	<div class="wrapper container-fluid row min-vh-100">
		<aside class="col-12 col-md-4 col-xxl-2 shadow">

			<h5 class="mt-1 p-2 border-3 border border-primary rounded-pill text-center"><i class="bi bi-arrow-down-right-square"></i> Menú de <span sec:authentication="principal.name">Usuario</span> <i class="bi bi-arrow-up-left-square"></i></h5>
			<ul class="list-group list-group-flush">
				<li class="list-group-item text-center fw-bold"> <a class="text-decoration-none text-black" th:href="@{/userMenu/editSelf}"><i class="bi bi-box-arrow-in-up"></i> Editar usuario <i class="bi bi-box-arrow-in-down"></i></a></li>
				<li class="list-group-item text-center fw-bold"> <a class="text-decoration-none text-black" th:href="@{/userMenu/myReports}"><i class="bi bi-chat-right-dots"></i> Mis reclamaciones <i class="bi bi-chat-left-dots"></i></a></li>
				<!--<li class="list-group-item text-center fw-bold"> <a class="text-decoration-none text-black" th:href="@{}"><i class="bi bi-people"></i> Gestión de usuarios <i class="bi bi-people-fill"></i></a></li>-->
			</ul>

		</aside>
		<article class="col-12 col-md-8 col-xxl-10">

            <div class="container-fluid">

                <div class="row justify-content-center mt-5">

                    <img class="col-10 col-md-6 col-xxl-4" src="../static/img/company-logo.png" th:src="@{/img/company-logo.png}" alt="Logo compañía" width="220px">

                </div>

            </div>

            <table class="table container-fluid table-striped">
		
                <legend class="text-center mt-2">Mis reclamaciones</legend>
                
                <thead>
                    <tr class="row justify-content-center">
                        <th class="col-2 text-center">Título</th>
                        <th class="col-3 text-center">Descripción</th>
                        <th class="col-2 text-center">Fecha</th>
                        <th class="col-3 text-center">Respuesta</th>
                        <th class="col-1 text-center">Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row justify-content-center" th:each="report : ${reportSelfList}">
                        <td class="col-2 text-center" th:text="${report.title}">Título</td>
                        <td class="col-3 text-center" th:text="${report.description}">Descripción</td>
                        <td class="col-2 text-center" th:text="${#temporals.format(report.reportDate)}">Fecha</td>
                        <td class="col-3 text-center" th:text="${report.reply}">Respuesta</td>
                        <td class="col-1 text-center"><a th:href="@{/userMenu/myReports/delete/{id}(id=${report.id})}"><button class="btn btn-danger p-1"><i class="bi bi-trash3"></i></button></a></td>
                    </tr>
                </tbody>
            </table>
            
		</article>
	</div>

</body>

<!--Footer-->

<footer th:replace="~{fragments/footer::footer}"></footer>

<!-- Footer -->

</html>