<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiérete Mucho</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/css/background.css" th:href="@{/css/background.css}" >

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


</head>

<!--Menú de navegación-->

<header th:replace="~{fragments/header::header}"></header>

<!--Fin Menú de navegación-->

<body class=" m-0 border-0 min-vh-100 d-flex flex-column">



    <form method="POST" th:action="${reportBlank.id != 0} ? @{/admin/replyReport/submit} : @{/addReport/submit}" th:object="${reportBlank}">

        <legend class="text-center mt-2"><span th:text="${legend}"></span></legend>

        <div class="container-fluid my-4 py-4">

			<input th:if="${reportBlank.id != 0}" type="hidden" th:field="*{id}" name="id" />

            <div class="row justify-content-center">
                <div class="my-1 col-12 col-md-3">
                    <label for="report-title" class="form-label">Título</label>
                    <input type="text" class="form-control p-2" id="report-title" placeholder="Título descriptivo de la reclamación"
                        name="report-title" th:field="*{title}">
                </div>

				<div class="my-1 col-12 col-md-3">
                    <label for="report-date" class="form-label">Fecha de la reclamación</label>
                    <input type="date" class="form-control p-2" id="report-date" 
                    name="report-date" th:field="*{reportDate}">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="my-1 col-12 col-md-9">
                    <label for="report-description" class="form-label">Descripción</label>
                    <input type="text" class="form-control p-2" id="report-description" placeholder="Cuerpo de la reclamación"
                        name="report-description" th:field="*{description}">
                </div>
            </div>

			<div class="row justify-content-center" sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="my-1 col-12 col-md-9">
                    <label for="report-reply" class="form-label">Descripción</label>
                    <input  type="text" class="form-control p-2" id="report-reply" name="report-reply" th:field="*{reply}">
                </div>
            </div>

			<!--TODO usar el cliente logueado para la alerta como un campo oculto-->

        </div>

        <div class="mt-4 row justify-content-center">
            <input type="submit" value="Enviar" class="col-5 col-md-3 col-lg-2 btn btn-success shadow-lg py-2 rounded-2 mx-0 "></input>
        </div>

		<input th:if="${reportBlank.id != 0}" type="text" name="client" th:field="*{client}" disabled>

    </form>

	



</body>

<!--Footer-->

<footer th:replace="~{fragments/footer::footer}"></footer>

<!-- Footer -->

</html>