<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Quiérete Mucho | Administración</title>
    <meta name="description" content="Servicio de administración de la web Quiérete Mucho.">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/css/background.css" th:href="@{/css/background.css}" >

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


</head>

<!--Menú de navegación-->

<header th:replace="~{fragments/adminHeader::header}"></header>

<!--Fin Menú de navegación-->

<body class=" m-0 border-0 min-vh-100 d-flex flex-column">

	<div class="wrapper container-fluid row min-vh-100 pe-0 me-0">
		
		<aside th:replace="~{fragments/adminMenuAside::adminMenuAside}"></aside>

		<article class="col-12 col-md-6 col-xl-8">

			<table class="table container-fluid table-striped">
		
                <legend class="text-center mt-2">Las citas más próximas</legend>
                
                <thead>
                    <tr class="row justify-content-center">
                        <th class="col-2 text-center">Título</th>
                        <th class="col-2 text-center">Fecha</th>
                        <th class="col-2 text-center">Pagado</th>
                        <th class="col-2 text-center">Precio</th>
						<th class="col-2 text-center">Cliente</th>
                        <th class="col-2 text-center">Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row justify-content-center" th:each="appointment : ${nearAppointmentList}">
                        <td class="col-2 text-center">Pedido: #<span th:text="${appointment.id}"></span></td>
                        <td class="col-2 text-center" th:text="${#temporals.format(appointment.appointmentDate)}">Fecha</td>
                        <td class="col-2 text-center" th:text="${(appointment.paid) ? 'Pagado' : 'No pagado'}">Pagado</td>
                        <td class="col-2 text-center" th:text="${#numbers.formatDecimal(appointment.fullPrice,0,2)}">Precio</td>
                        <td class="col-2 text-center" th:text="${appointment.client.name} + ' ' + ${appointment.client.userLastName}">Cliente</td>
                        <td class="col-2 text-center"><a th:href="@{/admin/appointmentDetails/{id}(id=${appointment.id})}"><button class="btn btn-primary p-1"><i class="bi bi-info-circle"></i></button></a></td>

                    </tr>
                </tbody>
            </table>

			<div class="container-fluid row justify-content-center my-2">

				<a href="/admin/appointmentList/" th:href="@{/admin/appointmentList/}" class="col-3 col-md-2 col-lg-1"><button class="btn btn-success" type="button">Mostrar más</button></a>
		
			</div>

		</article>
		<aside class="col-12 col-md-3 col-xl-2 shadow">

			<h5 class="mt-1 p-2 border-3 border border-warning rounded-pill text-center shadow"><i class="bi bi-arrow-down-right-square"></i> Estadísticas del negocio <i class="bi bi-arrow-up-left-square"></i></h5>
			
            <ul class="list-group list-group-flush mt-5">

                <li class="list-group-item text-center fs-5 border rounded-2 shadow my-2">
                    <p>Ganancias futuras aproximadas:</p>
                    <p class="fs-4"><span class="text-success fs-4" th:text="${estimatedEarnings}"></span>€</p>
                </li>
                
                <li class="list-group-item text-center fs-5 border rounded-2 shadow my-2">
                    <p>Ganancias en peluquería:</p>
                    <p class="fs-4"><span class="text-success fs-4" th:text="${hairdresser}"></span>€</p>
                </li>

                <li class="list-group-item text-center fs-5 border rounded-2 shadow my-2">
                    <p>Ganancias en estética:</p>
                    <p class="fs-4"><span class="text-success fs-4" th:text="${aesthetics}"></span>€</p>
                </li>

                <li class="list-group-item text-center fs-5 border rounded-2 shadow my-2">
                    <p>Ganancias del año actual:</p>
                    <p class="fs-4"><span class="text-success fs-4" th:text="${thisYearEarnings}"></span>€</p>
                </li>

            </ul>

		</aside>
	</div>

</body>

<!--Footer-->

<footer th:replace="~{fragments/footer::footer}"></footer>

<!-- Footer -->

</html>