<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Quiérete Mucho | Listado de servicios</title>
    <meta name="description" content="Listado de servicios del apartado de administración del portal de Quiérete Mucho.">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>

	<link rel="stylesheet" href="../static/css/background.css" th:href="@{/css/background.css}">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


</head>

<!--Menú de navegación-->

<header th:replace="~{fragments/adminHeader::header}"></header>

<!--Fin Menú de navegación-->

<body class=" m-0 border-0 min-vh-100 d-flex flex-column">

    <a th:href="@{/admin/}" class="d-block mx-auto mt-3"><button class="btn btn-success m-2">Volver al inicio</button></a>

	<a href="/admin/prodForm" th:href="@{/admin/prodForm}" class="d-block mx-auto mt-3"><button
			class="btn btn-success m-2">Agregar servicio</button></a>

    <div class="container" th:if="${param.error}">
        <div class="row justify-content-center">
            <div class="alert alert-danger alert-dismissible fade show col-12 col-md-6" role="alert">
                Lo sentimos, este producto se encuentra vinculado a alguna cita y no se puede borrar, hasta que dicha cita no se elimine.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>

        <div class="container-fluid" id="products">

            <div class="row d-flex mx-auto">
			
                <div th:each="product : ${productList}" class="card d-flex mx-auto border-0 rounded-2 m-3 col-lg-3 col-12 col-md-6 shadow" style="width: 18rem;">
                    <!-- <img class="card-img-top mt-3 rounded-3" src="http://placehold.co/500x500" th:src="${product.descImg}" alt="Card image cap"> -->
                    <img th:src="${not (#strings.isEmpty(product.descImg))} ? ${product.descImg} : 'http://placehold.co/500x500'" th:alt="${product.alterText}" />
                        
                    <div class="card-body p-3 d-flex flex-column">
                        <h5 class="card-title fw-bolder" th:text="${product.name}">Nombre</h5>
                        <p class="card-text fw-lighter fst-italic" th:text="${product.description}">
                            Texto de descripcion.
                        </p>
                        <div class="d-flex flex-column mt-auto mb-0 container">
                            <div class="row">
                                <p class="text-end">PVP: <span th:text="${#numbers.formatDecimal(product.basePrice,0,2)}">precio</span>€</p>
                            </div>
                            <div class="row justify-content-">
                                <a class="col-6 p-1 px-3" th:href="@{/admin/editProduct/{id}(id=${product.id})}"><button class="btn btn-primary d-block mx-auto"><i class="bi bi-pencil-square"></i></button></a>
				                <a class="col-6 p-1 px-3" data-bs-toggle="modal" data-bs-target="#delete-modal" th:attr="data-bs-target='#delete-modal'+${product.id}"><button class="btn btn-danger d-block mx-auto"><i class="bi bi-trash3"></i></button></a>
                            </div>
                        </div>
                    </div>

                    <!--Modal de confirmación de borrado-->
                    <div class="modal fade" th:attr="id='delete-modal'+${product.id}" role="dialog">
                        <div class="modal-dialog" role="document" th:attr="id='delete-modal'+${product.id}">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Borrar producto</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" aria-hidden="true"></button>
                                </div>
                                <div class="modal-body container">
                                    <div class="row">
                                        <p>Pulsando el botón <span class="fw-bold">"Sí"</span> eliminará éste producto de forma permanente, ¿está seguro?</p>
                                    </div>
                                    <div class="row justify-content-center">
                                        <button type="button" class="btn shadow border border-1 border-success col-2 mx-2" data-bs-dismiss="modal">No</button>
                                        <a class="btn shadow border border-1 border-danger px-3 col-2 mx-2" th:attr="href='/admin/deleteProduct/'+${product.id}">Sí</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Modal de confirmación de borrado-->

                </div>
                
            </div>
        </div>

</body>

<!--Footer-->

<footer th:replace="~{fragments/footer::footer}"></footer>

<!-- Footer -->

</html>